h1{
    text-align: center;
    color: aqua;
    font-size: 50px;
}
h2{
    text-align: center;
    color: aqua;
    font-size: 50px;
}
.img{
    text-align: center;
}
p{
    text-align: center;
    font-size: 50px;
    
}
body{
    background-color:salmon;
}
    
